<!DOCTYPE html>
<html lang="en">

  <%- include('./partials/header.ejs') %>


<body>


  <div class="hero">

    <img src="/images/download.jpg" alt="Hero Image">
    <div class="hero-overlay"></div>

  </div>


  
  <div class="container">

    <div class="row justify-content-center">

      <div class="col-md-4">

        <div class="form-container">

          <h2>Catalog</h2>

          <form action="/submit-movie" method="post" enctype="multipart/form-data">


            <div class="form-group">
              <label for="title">Movie Name</label>
              <input type="text" class="form-control" id="title" name="title" placeholder="Enter Movie Name" required>
            </div>

            <div class="form-group">
              <label for="director">Director Name</label>
              <input type="text" class="form-control" id="director" name="director" placeholder="Enter Director Name" required>
            </div>

            <div class="form-group">
              <label for="releaseYear">Release Year</label>
              <input type="text" class="form-control" id="releaseYear" name="releaseYear" placeholder="Enter Release Year" required>
            </div>

            <div class="form-group">
              <label for="genre">Genre</label>
              <input type="text" class="form-control" id="genre" name="genre" placeholder="Enter Genre" required>
            </div>

            <div class="form-group">
              <label for="description">Description</label>
              <textarea class="form-control" id="description" name="description" rows="3" placeholder="Enter Description" required></textarea>
            </div>

            <div class="form-group">
              <label for="image">Image</label>
              <input type="file" class="form-control-file" id="image" name="image" accept="image/*" required>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>

          </form>

        </div>

      </div>
    </div>
  </div>


 
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  
</body>
</html>
